# すべてのファイルを無視
*

# buildディレクトリの無視を解除
!build/
!build/**

# intallディレクトリの無視を解除
!install/
!install/**

# logディレクトリの無視を解除
!log/
!log/**

# srcディレクトリの無視を解除(srcディレクトリとその中のファイルを追跡対象とする)
!src/
!src/**

# moduleディレクトリの無視を解除
# ただし、module/weightsディレクトリは無視する
!module/
!module/**
module/weights/

# .gitignore自体も追跡対象とする
!.gitignore
